.container__banner {
    display: flex;
    flex-direction: column;
}

.container__banner li {
    padding: 0 0 0.5rem 0;
}

.container__banner li:last-of-type {
    padding: 0 0 0 0;
}

.banners__img {
    width: 36vw;
    height: 10.25vw;
    border-radius: 12.5px;
}
