.banners {
    padding: 0 0 0.5rem 0;
}

.banners_img {
    width: 700px;
    height: 200px;
}

.container_banner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}