.container__highlight {
    justify-content: space-between
}

.button__highlight,
.card__button__highlight {
    margin: 0 10px 0 10px;
    justify-content: center;
    align-self: center;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    border-style: none;
    font-size: 0.9rem;
}

.button__highlight {
    width: 40px;
    height: 40px;
}

.button__highlight i {
    top: 20%;
    scale: 1.50;
}

.card__highlight {
    align-items: center;
}

.container__highlight,
.card__highlight,
.card__button__highlight {
    margin: 0 0 0 0;
}

.wrap {
    position: relative;
}

.card__image__highlight {
    width: 30vw;
}

.cell {
    position: absolute;
    bottom: 4%;
    left: 29%;
    color: #ffffff;
    display: table-cell;
    vertical-align: middle;
    margin: auto;
    text-align: center;
}

.dots {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    cursor: default;

    .active {

        a {
            -webkit-transform: scale3d(1.3, 1.3, 1.3);
            transform: scale3d(1.3, 1.3, 1.3);

            &:after {
                height: 100%;
            }
        }
    }

    li {
        position: relative;
        float: left;
        margin: 0 1vw;
        width: 1.15vw;
        height: 1.15vw;
        cursor: pointer;

        a {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            outline: none;
            border-radius: 50%;
            text-indent: -999em;
            cursor: pointer;
            position: absolute;
            overflow: hidden;
            background-color: transparent;
            box-shadow: inset 0 0 0 2px white;
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);

            &:after {
                content: '';
                position: absolute;
                bottom: 0;
                height: 0;
                left: 0;
                width: 100%;
                background-color: #fff;
                box-shadow: 0 0 1px #fff;
                -webkit-transition: height 0.3s ease;
                transition: height 0.3s ease;
            }
        }
    }
}

.card__highlight,
.button__highlight,
.card__button__highlight {
    background-color: #18191b
}

.card__highlight,
.card__image__highlight {
    border-radius: 40px 40px 0 0
}

.card__content {
    justify-content: space-between;
    overflow: hidden;
    padding: 10px;
}

.card__content__text {
    flex-direction: column;
    color: #a88e5c
}

.text__highlight {
    margin: 0 0 0 0;
    font-size: 1rem;
    text-transform: uppercase;
}

.card__title__highlight {
    margin: 5px 0 10px 0;
    font-size: 1.25rem
}

.card__info__highlight {
    margin: 0;
    font-size: 1rem
}

.card__content__price,
.container__highlight,
.button__highlight,
.card__button__highlight,
.card__content,
.card__content__text {
    display: flex
}

.card__content__price {
    display: flex;
    justify-content: space-between
}

.card__price__highlight {
    padding: 0 10px 0 0;
    margin: 0;
    font-size: 1.75rem;
    align-self: center
}

.card__title__highlight,
.card__info__highlight,
.card__price__highlight {
    color: #ffffff
}

.card__button__highlight {
    background-color: #0563aa;
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.card__button__highlight i {
    top: 40%
}

.card__button__highlight,
.button__highlight {
    cursor: pointer;
}

.gg_shopping_cart {
    display: block;
    box-sizing: border-box;
    position: relative;
    transform: scale(var(--ggs, 1.25));
    width: 20px;
    height: 90px;
    background:
        linear-gradient(to left, currentColor 12px,
            transparent 0) no-repeat -1px 6px/18px 2px,
        linear-gradient(to left, currentColor 12px,
            transparent 0) no-repeat 6px 14px/11px 2px,
        linear-gradient(to left, currentColor 12px,
            transparent 0) no-repeat 0 2px/4px 2px,
        radial-gradient(circle, currentColor 60%,
            transparent 40%) no-repeat 12px 17px/4px 4px,
        radial-gradient(circle, currentColor 60%,
            transparent 40%) no-repeat 6px 17px/4px 4px
}

.gg_shopping_cart::after,
.gg_shopping_cart::before {
    content: "";
    display: block;
    position: absolute;
    box-sizing: border-box;
    width: 2px;
    height: 14px;
    background: currentColor;
    top: 2px;
    left: 4px;
    transform: skew(12deg)
}

.gg_shopping_cart::after {
    height: 10px;
    top: 6px;
    left: 16px;
    transform: skew(-12deg)
}

.gg__arrow_left {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px
}
.gg__arrow_left::after,
.gg__arrow_left::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    left: 3px
}
.gg__arrow_left::after {
    width: 8px;
    height: 8px;
    border-bottom: 2px solid;
    border-left: 2px solid;
    transform: rotate(45deg);
    bottom: 7px
}
.gg__arrow_left::before {
    width: 16px;
    height: 2px;
    bottom: 10px;
    background: currentColor
}

.gg__arrow_right {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px
}
.gg__arrow_right::after,
.gg__arrow_right::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    right: 3px
}
.gg__arrow_right::after {
    width: 8px;
    height: 8px;
    border-top: 2px solid;
    border-right: 2px solid;
    transform: rotate(45deg);
    bottom: 7px
}
.gg__arrow_right::before {
    width: 16px;
    height: 2px;
    bottom: 10px;
    background: currentColor
}

@media screen and (max-width: 1439px) {
    .card__content {
        flex-direction: column
    }

    .text__highlight {
        margin: 0 0 0 0;
        font-size: 0.75rem
    }

    .card__title__highlight {
        margin: 5px 0 10px 0;
        font-size: 1rem
    }

    .card__info__highlight {
        margin: 0;
        font-size: 0.75rem
    }

    .card__content__price {
        display: flex;
        justify-content: space-between;
    }

    .card__price__highlight {
        padding: 0 10px 0 0;
        margin: 0;
        font-size: 1.5rem;
        align-self: center
    }

    .card__button__highlight {
        background-color: #0563aa;
        width: 50px;
        height: 50px;
        border-radius: 10px;
    }
}
