.cabecalho {
    padding: 1.5rem 0.25rem 1.5rem 0.25rem;
    background-color: #050505;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 16%);
    background: url("../../images/wrap.png");
    border-color: #a88e5c;
    border-style: solid;
    border-width: 0 0 1px 0;
}

.cabecalho_container {
    align-self: center;
    display: flex;
    justify-content: space-around;
}

.cabecalho_logo {
    align-self: center;
    font-size: 2rem;
    color: #a88e5c;
    text-transform: uppercase;
}

.cabecalho_logo::before {
    font-size: 24px;
}

.container_busca {
    display: flex;
    align-self: center;
}

.cabecalho_buscador {
    color: #a88e5c;
    border-radius: 10px;
    padding-left: 50px;
    width: 50rem;
    height: 2.5rem;
    border: 1px solid #a88e5c;
    padding: 9px 4px 9px 40px;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}

.cabecalho_lista {
    align-self: center;
    display: flex;
    list-style-type: none;
    color: #a88e5c;
    text-transform: uppercase;
    padding: 0 0 0 0;
}

.cabecalho_lista li {
    align-self: center;
    padding-left: 25px;
}

.cabecalho_favoritos {
    display: flex;
}

.cabecalho_perfil {
    padding: 15px 0 15px 0;
    margin-left: 25px;
    border: solid;
    border-width: 0 0 0 1px;
    border-color: #a88e5c;
}

.gg_shopping_cart {
    display: block;
    box-sizing: border-box;
    position: relative;
    transform: scale(var(--ggs,1));
    width: 20px;
    height: 21px;
    background:
        linear-gradient(
            to left,currentColor 12px,
            transparent 0)
            no-repeat -1px 6px/18px 2px,
        linear-gradient(
            to left,currentColor 12px,
            transparent 0)
            no-repeat 6px 14px/11px 2px,
        linear-gradient(
            to left,currentColor 12px,
            transparent 0)
            no-repeat 0 2px/4px 2px,
        radial-gradient(
            circle,currentColor 60%,
            transparent 40%)
            no-repeat 12px 17px/4px 4px,
        radial-gradient(
            circle,currentColor 60%,
            transparent 40%)
            no-repeat 6px 17px/4px 4px
}
.gg_shopping_cart::after,
.gg_shopping_cart::before {
    content: "";
    display: block;
    position: absolute;
    box-sizing: border-box;
    width: 2px;
    height: 14px;
    background: currentColor;
    top: 2px;
    left: 4px;
    transform: skew(12deg)
}
.gg_shopping_cart::after {
    height: 10px;
    top: 6px;
    left: 16px;
    transform: skew(-12deg)
}

.gg_bookmark,
.gg_bookmark::after {
    display: block;
    box-sizing: border-box;
    border-top-right-radius: 3px
}
.gg_bookmark {
    border: 2px solid;
    border-bottom: 0;
    border-top-left-radius: 3px;
    overflow: hidden;
    position: relative;
    transform: scale(var(--ggs,1));
    width: 14px;
    height: 16px
}
.gg_bookmark::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border-top: 2px solid;
    border-right: 2px solid;
    transform: rotate(-45deg);
    top: 9px;
    left: -1px
}

.gg_profile,
.gg_profile::after,
.gg_profile::before {
    display: block;
    box-sizing: border-box;
    border: 2px solid;
    border-radius: 100px
}
.gg_profile {
    overflow: hidden;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px;
    position: relative
}
.gg_profile::after,
.gg_profile::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 5px;
    width: 8px;
    height: 8px
}
.gg_profile::after {
    border-radius: 200px;
    top: 11px;
    left: 0px;
    width: 18px;
    height: 18px
}