.header {
    padding: 0.5rem 5rem 0rem 5rem;
    background-color: #000000; //050505
    box-shadow: 0px 4px 4px rgb(0 0 0 / 16%);
    //background: url("../../images/wrap.png")
}

.header__container {
    width: 100%;
    padding: 0.75rem 0 0.75rem 0;
    justify-content: space-between; // posso trocar por space-around
    //padding: 0 3.5rem 0 3.5rem // remover se colocar space-around
}

.header__container_sub {
    padding: 0 3.5rem 0 3.5rem;
}

.header__container,
.header__container_sub {
    border-bottom: 1px solid #ffffff
}

.header__text {
    font-size: 0.60rem;
    padding: 0 3.5rem 0 3.5rem;
    color: #ffffff;
    text-transform: uppercase;
}

.header__logo {
    justify-content: center;
    margin: 0 3.5rem 0 3.5rem;
    font-size: 1.45rem;
    color: #f7bf2a; // #a88e5c
    text-transform: uppercase
}

.header__logo::before {
    font-size: 24px
}

.container__search {
    width: 100%;
}

.header__search {
    border-radius: 10px;
    width: 100%;
    height: 2.5rem;
    border: 1px solid #18191b;
    padding: 9px 4px 9px 40px;
    background: #18191b url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center
}

.header__list {
    list-style-type: none;
    text-transform: uppercase;
    padding: 0 3.5rem 0 3.5rem
}

.header__search,
.header__list {
    color: #ffffff
}

.header__list li {
    padding: 0 12.5px 0 12.5px;
}

.header__profile {
    margin-left: 25px;
    border: solid;
    border-width: 0 0 0 1px;
}

.header__profile a, .header__shopping_cart a, .header__favourites a {
    cursor: pointer;
}

.header__container,
.header__logo,
.container__search,
.header__list,
.header__list li,
.header__favourites,
.header__categorys,
.header__text {
    align-self: center;
    display: flex
}

.header__categorys {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    color: #ffffff;
    justify-content: center;
    list-style-type: none;
    text-transform: uppercase;
    font-size: 13px;
}

.header__categorys li {
    padding: 0 0.75rem 0 0.75rem
}

.selected {
    font-style: italic;
    text-decoration: underline
}

@media screen and (min-width: 1439px) {}

.gg_shopping_cart {
    display: block;
    box-sizing: border-box;
    position: relative;
    transform: scale(var(--ggs, 1));
    width: 20px;
    height: 21px;
    background:
        linear-gradient(to left, currentColor 12px,
            transparent 0) no-repeat -1px 6px/18px 2px,
        linear-gradient(to left, currentColor 12px,
            transparent 0) no-repeat 6px 14px/11px 2px,
        linear-gradient(to left, currentColor 12px,
            transparent 0) no-repeat 0 2px/4px 2px,
        radial-gradient(circle, currentColor 60%,
            transparent 40%) no-repeat 12px 17px/4px 4px,
        radial-gradient(circle, currentColor 60%,
            transparent 40%) no-repeat 6px 17px/4px 4px
}

.gg_shopping_cart::after,
.gg_shopping_cart::before {
    content: "";
    display: block;
    position: absolute;
    box-sizing: border-box;
    width: 2px;
    height: 14px;
    background: currentColor;
    top: 2px;
    left: 4px;
    transform: skew(12deg)
}

.gg_shopping_cart::after {
    height: 10px;
    top: 6px;
    left: 16px;
    transform: skew(-12deg)
}

.gg_bookmark,
.gg_bookmark::after {
    display: block;
    box-sizing: border-box;
    border-top-right-radius: 3px
}

.gg_bookmark {
    border: 2px solid;
    border-bottom: 0;
    border-top-left-radius: 3px;
    overflow: hidden;
    position: relative;
    transform: scale(var(--ggs, 1));
    width: 14px;
    height: 16px
}

.gg_bookmark::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border-top: 2px solid;
    border-right: 2px solid;
    transform: rotate(-45deg);
    top: 9px;
    left: -1px
}

.gg_profile,
.gg_profile::after,
.gg_profile::before {
    display: block;
    box-sizing: border-box;
    border: 2px solid;
    border-radius: 100px
}

.gg_profile {
    overflow: hidden;
    transform: scale(var(--ggs, 1));
    width: 22px;
    height: 22px;
    position: relative
}

.gg_profile::after,
.gg_profile::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 5px;
    width: 8px;
    height: 8px
}

.gg_profile::after {
    border-radius: 200px;
    top: 11px;
    left: 0px;
    width: 18px;
    height: 18px
}
