.header {
    padding: 0.5rem 5rem 0rem 5rem;
    background-color: #000000; //050505
    box-shadow: 0px 4px 4px rgb(0 0 0 / 16%);
    //background: url("../../images/wrap.png")
}

.header__container {
    width: 100%;
    padding: 0.75rem 0 0.75rem 0;
    //justify-content: space-between; // posso trocar por space-around
    //padding: 0 3.5rem 0 3.5rem // remover se colocar space-around
}

.header__container__sub {
    padding: 0 3.5rem 0 3.5rem;
}

.header__container,
.header__container__sub {
    border-bottom: 1px solid #ffffff
}

.header__align {
    width: 33.3%;
    align-self: center;
}

.header__text {
    font-size: 0.90rem;
    padding: 0 3.5rem 0 3.5rem;
    margin: 0;
    color: #ffffff;
}

.header__logo {
    justify-content: center;
    margin: 0 3.5rem 0 3.5rem;
    font-size: 1.75rem;
    color: #f7bf2a; // #a88e5c
    text-transform: uppercase
}

.header__logo::before {
    font-size: 24px
}

.header__list {
    justify-content: flex-end;
    list-style-type: none;
    text-transform: uppercase;
    padding: 0 3.5rem 0 3.5rem;
    color: #ffffff;
    margin: 0;
}

.header__list li {
    padding: 0 12.5px 0 12.5px;
}

.header__profile {
    margin-left: 25px;
    border: solid;
    border-width: 0 0 0 1px;
}

.header__profile a, .header__shopping_cart a, .header__favourites a {
    cursor: pointer;
}

.header__container,
.header__logo,
.header__list,
.header__list li,
.header__favourites,
.header__categorys,
.header__text {
    align-self: center;
    display: flex
}

.header__categorys {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    color: #ffffff;
    justify-content: center;
    list-style-type: none;
    text-transform: uppercase;
    font-size: 13px;
}

.header__categorys li {
    padding: 0 0.75rem 0 0.75rem;
    align-items: center;
}

.header__categorys li a {
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
}

.selected {
    text-decoration: underline;
    scale: 1.25;
    transition: all 0.3s ease;
    color: #f7bf2a;
}

@media screen and (min-width: 1439px) {}

.gg_shopping_cart {
    display: block;
    box-sizing: border-box;
    position: relative;
    transform: scale(var(--ggs, 1));
    width: 20px;
    height: 21px;
    background:
        linear-gradient(to left, currentColor 12px,
            transparent 0) no-repeat -1px 6px/18px 2px,
        linear-gradient(to left, currentColor 12px,
            transparent 0) no-repeat 6px 14px/11px 2px,
        linear-gradient(to left, currentColor 12px,
            transparent 0) no-repeat 0 2px/4px 2px,
        radial-gradient(circle, currentColor 60%,
            transparent 40%) no-repeat 12px 17px/4px 4px,
        radial-gradient(circle, currentColor 60%,
            transparent 40%) no-repeat 6px 17px/4px 4px
}

.gg_shopping_cart::after,
.gg_shopping_cart::before {
    content: "";
    display: block;
    position: absolute;
    box-sizing: border-box;
    width: 2px;
    height: 14px;
    background: currentColor;
    top: 2px;
    left: 4px;
    transform: skew(12deg)
}

.gg_shopping_cart::after {
    height: 10px;
    top: 6px;
    left: 16px;
    transform: skew(-12deg)
}

.gg_bookmark,
.gg_bookmark::after {
    display: block;
    box-sizing: border-box;
    border-top-right-radius: 3px
}

.gg_bookmark {
    border: 2px solid;
    border-bottom: 0;
    border-top-left-radius: 3px;
    overflow: hidden;
    position: relative;
    transform: scale(var(--ggs, 1));
    width: 14px;
    height: 16px
}

.gg_bookmark::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border-top: 2px solid;
    border-right: 2px solid;
    transform: rotate(-45deg);
    top: 9px;
    left: -1px
}

.gg_profile,
.gg_profile::after,
.gg_profile::before {
    display: block;
    box-sizing: border-box;
    border: 2px solid;
    border-radius: 100px
}

.gg_profile {
    overflow: hidden;
    transform: scale(var(--ggs, 1));
    width: 22px;
    height: 22px;
    position: relative
}

.gg_profile::after,
.gg_profile::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 5px;
    width: 8px;
    height: 8px
}

.gg_profile::after {
    border-radius: 200px;
    top: 11px;
    left: 0px;
    width: 18px;
    height: 18px
}
